.app {
  background-color: #fefffe;
  color: #000;
  height: 100vh;
  padding-top: 30px;
  text-align: center;
}

.logo {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-bottom: 30px;
}

.description {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.time {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
